e-reader-catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://e-reader.catalog.info"
           xmlns="http://e-reader.catalog.info"
           elementFormDefault="qualified">

	<xs:element name="CATALOG"
	            type="Catalog" />

	<xs:complexType name="Catalog">
		<xs:sequence>
			<xs:element name="brand"
			            type="xs:string" />
			<xs:element name="model"
			            type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>